@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

*{
    background-color: #ffffff;
}
.div-container{
    max-width: 100%;
    display: flex;
    padding: 10px 100px;
    text-align: start;

}

.text-container{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column; 
    flex-grow: 1;
   
}
.text-tittle{
    margin: 0;
    font-weight: 400;
    font-size: 150px;
    font-family: "Rozha One", serif;
    text-transform: lowercase;
}
.text-pa{
    margin-top: -15px;
    font-weight: 500px;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    margin-right: 160px;
}
.img-container{
    margin-right: 100px;
    flex-grow: 1;
}

.img-container img{
    max-width: 100%;
    max-height: 100%;
    width: 750px;
    
}

.btn-leer{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FDAB4A;
    font-family: "Inter", sans-serif;
    border: 1px solid #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    border-radius: 25px;
    padding: 30px 50px;
    cursor: pointer;

    &:hover{
    border: 1px solid #FDAB4A;
    color: #FDAB4A;
    background-color: #FFFFFF;
    transition: .5s;
    }
}
