
.container-admin-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

.backdrop{
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ase*/
}
.form_container{
    
}

.slide{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;

}

.block{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    font-weight: bold;
    background: none;
    width: 180px;
}

.btnoption{
    font-size: 15px;
    border-radius: 5px;
    border: none;
    margin-left: 15px;
    transition: transform 0.3s;
    background-color:0.3s;
    color: #FDAB4A ;
    max-height: 60px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btnoption:hover{
    transform: scale(1.1);
    background-color: #000000;
    color: white;
    margin-left: 15px;
   }

img{
    width: 150px;
    height: auto;
}
