
.container-admin-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.admin-product-container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin: 10px;
    height: 250px;
    width: 98.5%;
    box-shadow: 0px 1px 12px 5px rgba(0,0,0,0.22);
    -webkit-box-shadow: 0px 1px 12px 5px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 1px 12px 5px rgba(0,0,0,0.22);
    padding: 20px;
}

.grid-admin-product{
    font-weight: 500;
    justify-content: center;
    align-content: center;    
}
.admin-product-img{
    height: 80%;
    width: 80%;
}

.grid-admin-product-text{
    text-transform: uppercase;
    font-weight: 500;
}

.grid-admin-product-text-info{
    text-transform: lowercase;
    font-weight: 400;
}

.backdrop{
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ase*/
}

.btnoption{
    font-size: 15px;
    border-radius: 5px;
    border: none;
    margin-left: 15px;
    transition: transform 0.3s;
    background-color:0.3s;
    color: #FDAB4A ;
    max-height: 60px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btnoption:hover{
    transform: scale(1.25);
    color: white;
    margin-left: 15px;
    cursor: pointer;
}

.material-symbols-outlined{
    color: #FDAB4A;
}
