/* CakeList.css */
.cake-list-container {
    margin: 2rem;
  }
  
  .cake-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .cake-name {
    flex-grow: 1;
  }
  
  .edit-button, .delete-button {
    margin-left: 0.5rem;
  }
  
  .add-cake-container {
    display: flex;
    margin-top: 1rem;
  }
  
  .add-cake-button {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FDAB4A;
    font-family: "Inter", sans-serif;
    border: 1px solid #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    width: 100%;
    border-radius: 25px;
    padding: 30px 50px;
    cursor: pointer;

    &:hover{
    border: 1px solid #FDAB4A;
    color: #FDAB4A;
    background-color: #FFFFFF;
    transition: .5s;
    }
  }
  
  .option-button{
    padding: 12px 20px;
    background-color: #333; 
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }

  .cake-input {
    padding: 12px 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's width and height */
    font-size: 16px;
  }