.div-container{
    max-width: 100%;
    display: flex;
    padding: 10px 100px;
    text-align: start;

}

.product-container{
    position: relative;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 5%;
    width: 90%;
    height: 565px;
    background-color: #F7F5F0;  
}


.product-img{
    position: relative; 
    width: 45%;
    background-color: transparent;
}

.img{
    position: relative;
    margin-top: 10%;
    left: 10%;
    width: 433px;
    height: 432px;
    object-fit: cover;
    border-radius: 30px;
}

.product-details{
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 55%;
    background-color: transparent;
    
}


.product-header{
    position: relative;
    background-color: transparent;
    margin-top: 10%;
    font-family: "Rozha One";
    font-size: 64px;
}

.product-description{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: #606060;
    
}

.description-text{
    position: relative;
    background-color: transparent;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    border-bottom: 1%;
}

.price{
    position: relative;
    margin-top: 15px;
    font-size: 36px;
    color: #FDAB4A;
    background-color: transparent;
}


.controles{
    position: relative;
    margin-top: 10px;
    display: flex;
    background-color: transparent;
    align-items: center;
}

.button{
    position: relative;
    height: 55px;
    width: 77px;
    border-radius: 15px;
    background-color: black;
}


.amount{
    position: relative;
    font-size: 36px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: transparent;
}

.add{
    position: relative;
    height: 79px;
    width: 255px    ;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-family: "Inter";
    font-size: 24px;
}

