@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

    .form-tittle_log{
        grid-column: 1/3;
        font-family: "Rozha One", serif;
        color:#FDAB4A;
        font-weight: 400;
        font-size: 64px;
        margin: 0;
    }

    .component-container_log{
        margin-top: -2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 80px 100px;
        width: 66.66%; 
        height: 80vh;
    }

    .form-grid-cell_log{
        grid-column: 1/3;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;    
    }

    .form-grid-cell_log label{
        color: #DFD9D9;
        font-weight: 700;
        font-size: 20px;
    }

    .form-grid-cell_log input{
        font-family: "Inter", sans-serif;
        width: 50%;
        height: 50px;
        padding: 10px;
        font-size: 16px;
        outline: none;
        margin-top: 8px;
        border: none;
        padding-left: 30px;
        font-size: 18px;
        border-radius: 20px;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2), inset 4px 4px 2px rgba(0, 0, 0, 0.4);
        background-color: #ffffff;
        color: #000000;
        transition: all 0.2s ease-in-out;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}

    .container-form-grid_log{
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(3 , 1fr);
        width: 75%;
    }

    .form-grid-cell-btn_log{
        grid-column: -3/-1;
        grid-row: 3/4;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .btn-submit_log{
        margin-top: 25px;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 32px;
        cursor: pointer;
        padding: 20px 0;
        width: 54%;
        height: 100%;
        background-color: #000000;
        color: #ffffff;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
}

    .btn-submit_log:hover{
        background-color: #ffffff;
        color: #FDAB4A;
        transition: 0.5s;
        border: 2px solid #FDAB4A;
    }


    .error-message {
        color: #e92b2d;
        background-color: #ffffff;
        font-weight: 600;
        font-size: 12px;;
        text-align: center;
    }

    .error .input-login {
        background-color: #ffcccc;
        border: 2px solid #c91515; 
    }
    .error .input-login:focus {
        caret-color:red;
    }