@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');

.img-container_reg{
    background-image: url("../../assets/images/band-regimg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 33.33%;
   

}

.band-tittle {
    font-weight: 400;
    font-size: 48px;
    font-family:  "Ramaraja", serif;
    background-color: transparent;
    position: absolute;
    top: 30px;
    left: 75px;
    color: white;
    text-decoration: none;
  }




